@import 'setup';

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul,li,h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Roboto', sans-serif;

}

header {
	background-image: url(../assets/hero.jpg);
	background-size: cover;
	background-position: center;
	// height: 1100px;
	color:white;

}


a {
	text-decoration:none;

}

div.navWrapper {
	height:190px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:center;
	ul {
		display:flex;
		align-items:center;
		flex-wrap:wrap;
		// margin-top: 40px;
		list-style:none; 
		li {
			font-size:10px;
			margin:10px 12px;
			a {
				color:white;
				&:hover {
					color:turquoise;
				}
			}

		}	
	}
	div {
		align-items:center;
		display:flex;
	}
}

div.titleWrapper {
	display:flex;
	flex-direction:column;
	align-content:space-between;
	height:650px;
	width:500px;
	margin:auto;
	text-align: center;
	
	// justify-content:center;
	// align-items:center;
	div.weather {
		background: rgba(83,83,83, 0.3);
		height:50px;
		width:100px;
		margin:90px auto 36px auto;
	}
	
	h1 {
		font-size: 50px;
    	line-height: 70px;
	}
	p {
		font-size:10px;
		line-height:26px;
		margin:20px 0 35px 0;

	}
	button {
		width:170px;
		height:50px;
		background: turquoise;
		text-align: center;
		color:white;
		padding:5px;
		font-size: 12px;
		text-align: center;
		border-radius:5px;
		border:none;
		margin: 0 auto;
		display:flex;
		&:hover {
			border:1px solid turquoise;
			background:none;
		}

		img {
			margin-left:10px;
		}
		h4 {
			margin:auto;
		}
	}
}

	// LINK THESE RADIO BUTTONS TO THE BUTTONS AND CHANGE THEIR BACKGROUND COLOR

.radioButtonWrapper {
	display:flex;
	flex-direction:row;
	margin:auto;
	max-width:440px;
	border-top:0.5px solid rgba(211,211,211,0.2);		//transparency not working on RGBA
	border-left:0.5px solid rgba(211,211,211,0.2);
	.radioButtonFriend {
		height:40px;
		width:100px;
		font-size: 14px;
		padding:12px;
		background: rgba(0,0,0,0.2);
		border-right:0.5px solid rgba(211,211,211,0.2);
		&:nth-of-type(3) {
			text-align: center;
		}
	}
}

.headerSearch {
	background: rgba(0,0,0,0.2);
	height: 219px;
	form {
		display:flex;
		flex-wrap:wrap;
		margin:auto;
		width:85%;
		height:100%;
		justify-content:space-between;
		align-items:center;	
		div {
			margin:10px;
			&:nth-of-type(4) {
				margin-left:10px;
			}

			&:nth-of-type(1) input{
				width:250px;
			}
			&:nth-of-type(2) input {
				width:150px;
			}
			&:nth-of-type(3) input {
				width:150px;
			}
			
			select {
				width:70px;
				font-size:10px;
				color:lightgrey;
				background:none;
				border:none;
				border-bottom:1px solid grey;
			}

			h5 {
				font-size:12px;
				margin-bottom: 40px;
				color:lightgrey;
			}
		}
		input {
			background: none;
			border: none;
			border-bottom: 1px solid grey;
			font-size: 10px;
			padding: 10px;
		}
	}


	button {
		background: rgb(74, 229, 209);
		width:140px;
		height:50px;
		background: turquoise;
		color:white;
		padding:15px 5px 10px 9px;
		font-size: 12px;
		text-align: center;
		border-radius:5px;
		border:none;
		margin: 0 auto;
		&:hover {
			border:1px solid turquoise;
			background:none;
		}

		img {
			float:left;
			padding-left:9px;
		}
	}
}

.seaTours {
	.seaToursText {
		display:flex;
		flex-direction:column;
		text-align: center;
		height:200px;
		width:60%;
		margin:auto;
		padding-top: 20px;
		justify-content:center;
		align-items:center;
		h2 {
			letter-spacing:8px;
		}
		p {
			font-size:12px;
			padding-top:20px;
		}
	}
	.toursWrapper {
		// background: lightgrey;
		height:610px;
		max-width:960px;
		display:flex;
		margin:auto;
		flex-wrap:wrap;
		margin-bottom:100px;
		.tour-sixths {
			height:285px;
			width:300px;
			border-radius:5px;
			// background: royalblue;
			margin:10px 10px 0 10px;
			position:relative;
			&:hover div.overlay{
					display:block;
				}
			div.overlay {
				height: 100%;
				width: 100%;
				background-color: rgba(0,0,0,0.3);
				position: absolute;
				border-radius:5px;
				top:0;
				left:0;
				margin:0;
				display:none;
				z-index: 100;
			}
			&:hover h3{
				color:turquoise;
			}
			&:hover button{
				border: 1px solid turquoise;
				background: none;
			}
			h3 {
				margin:60px 0 15px 0;
				color:white;
				text-align: center;

			}
			img{
				display: block;
				margin:0 auto;
			}
			h4 {
				margin-top:15px;
				color:white;
				text-align: center;
				font-weight: 100;
				span{
					font-weight:300; 		//change this
				}
			}
			div {
				float:left;
				color:lightgrey;
				font-size:10px;
				margin:60px 20px 20px 15px;
				p {
					margin:10px 0 0 0;
					span{
						color:white;
					}
					img {
						float:left;
						margin-right:5px;
						color:white;
					}
				}
			}
			button {
				float:left;
				background: rgb(74, 229, 209);
				width:110px;
				height:40px;
				background: turquoise;
				color:white;
				padding:10px 5px 10px 5px;
				font-size: 12px;
				text-align: center;
				border-radius:5px;
				border:none;
				margin: 70px 0 0 0;
				&:hover {
					border:1px solid turquoise;
					background:none;
				}

				img {
					float:left;
					padding-left:8px;
				}
			}
		}
		.tour1 {
				background: url(../assets/tour-1.jpg);
				background-size: cover;
				background-position: center;
			}
		.tour2 {
				background: url(../assets/tour-2.jpg);
				background-size: cover;
				background-position: center;
			}	
		.tour3 {
				background: url(../assets/tour-3.jpg);
				background-size: cover;
				background-position: center;
			}
		.tour4 {
				background: url(../assets/tour-4.jpg);
				background-size: cover;
				background-position: center;
			}
		.tour5 {
				background: url(../assets/tour-5.jpg);
				background-size: cover;
				background-position: center;
			}	
		.tour6 {
				background: url(../assets/tour-6.jpg);
				background-size: cover;
				background-position: center;
			}	
	}
}

.banner {
	height:300px;
	background: lightgrey;
	.cell1 {
		background-image: url("../assets/banner.jpg");
		background-position: center;
		background-size: contain;
		.cell1Text {
			display: flex;
			flex-direction:column;
			width:600px;
			margin:80px auto;
			color:white;
			text-align: center;
			
			h4 {
				margin-bottom:20px;
			}
			img{
				width: 90px;
				margin: 0 auto;
				margin-bottom:20px;
			}
			h2 {
				margin-bottom:20px;
				letter-spacing:5px;
			}
			p {
				margin-bottom:20px;
				font-size:12px;
			}
		}
	}
}
.carousel .flickity-page-dots {
	bottom:15px;
}

.carousel .flickity-page-dots .dot{
	background:white;
}

.carousel-cell {
  width: 100%; /* full width */
  height: 300px; /* height of carousel */
  margin-right: 10px;
}

.specialOffers {
	display:flex;
	flex-direction:column;
	text-align: center;
	height:600px;
	width:60%;
	margin:100px auto 0 auto;
	// padding-top: 20px;
	justify-content:center;
	align-items:center;
	h2 {
		letter-spacing:8px;
	}
	p {
		font-size:12px;
		padding:20px 0 50px 0;
	}
	.specialWrapper {
		height:400px;
		max-width:960px;
		display:flex;

		.tour-thirds {
			height:350px;
			width:300px;
			border-radius:5px;
			background: royalblue;
			color:white;
			margin:10px 10px 0 10px;
			position:relative;
			&:hover h3{
				color:turquoise;
			}
			&:hover button{
				border: 1px solid turquoise;
				background: none;
			}
			&:hover div.overlay{
					display:block;
				}
			div.overlay {
				height: 100%;
				width: 100%;
				background-color: rgba(0,0,0,0.3);
				position: absolute;
				border-radius:5px;
				top:0;
				left:0;
				margin:0;
				display:none;
				z-index: 100;
			}
			.specialContent {
				// display:flex;
				// flex-direction:column;
				float: left;
				padding:20px;
				img {
					padding-left:2px;
					width:83px;
				}
				h3 {
					font-weight: 100;
					font-size: 20px;
					letter-spacing: 2px;
				}
			}
			.specialInfo {
				clear:both;
				margin: auto;
				padding: 110px 0 0 0;
				width: 90%;
				justify-content: space-around;
				display:flex;
				flex-direction:row;
				h5 {
					
					font-size: 10px;
					padding-top: 6px;                       //    put an after border here
				}										   //	and flickity if theres time

			
			}
			p {
				color:#d3d3d3;
				padding:20px 0;
				text-align: left;
			    font-size: 11px;
			    line-height: 20px;
			    margin: 0 21px;
				}	
		}
		.specialTour1 {
			background-image: url("../assets/greece.jpg");
			background-position: center;
			background-size: cover;
		}
		.specialTour2 {
			background-image: url("../assets/china.jpg");
			background-position: center;
			background-size: cover;
		}
		.specialTour3 {
			background-image: url("../assets/canada.jpg");
			background-position: center;
			background-size: cover;
		}


	}
}

.tour-thirds {
	button {
		float:left;
		width: 95px;
		height: 35px;
		background: turquoise;
		color:white;
		padding:10px 5px 10px 5px;
		font-size: 10px;
		text-align: center;
		border-radius:5px;
		border:none;
		margin: 0 0 0 20px;
		&:hover {
			border:1px solid turquoise;
			background:none;
		}

	}
}

.popular {
	height:1000px;
	h2 {
		text-align: center;
		font-size: 25px;
		// font-weight: 200;
		letter-spacing: 7px;
	}
	p {
		text-align: center;
		padding:20px 0 70px 0;
		color:#d3d3d3;
	}

	.popularWrapper {
		// background: red;
		margin: 0 auto;
		height:360px;
		max-width:90%;
		display:flex;
		flex-wrap:wrap;
		.popularCountries,.popularCountries2  {
			// background: pink;
			width:50%;
			min-width:558px;
			display:flex;
			flex-wrap:wrap;
			justify-content:center;
			.tourQuarters {
				width: 230px;
			    height: 160px;
			    // background: blue;
			    color:white;
			    margin:10px;
			    position: relative;
			    border-radius:5px;
			    &:hover h4{
			    	color:turquoise;
			    }
			    &:hover button{
			    	border: 1px solid turquoise;
			    	background: none;
			    }
			    &:hover div.overlay{
			    		display:block;
			    	}
			    div.overlay {
			    	height: 100%;
			    	width: 100%;
			    	background-color: rgba(0,0,0,0.3);
			    	position: absolute;
			    	border-radius:5px;
			    	top:0;
			    	left:0;
			    	margin:0;
			    	display:none;
			    	z-index: 100;
			    }
			    h4 {
					margin: 100px 0 10px 20px;
			    }
			    h5 {
					margin-left:20px;
					span {
						color:turquoise;
					}
			    }
			    &:hover h5 {
			    	color:turquoise;
			    }
			    &:hover h5 span {
			    	color:white;
			    }
			}
		}
		.popInfo1, .popInfo2  {
			width:50%;
			min-width:558px;
			// background: purple;
			background: url('../assets/italymap.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			padding:20px 20px 20px 0;
			display:flex;
			flex-direction:column;
			justify-content:flex-start;
			p {
				text-align:left;
				font-size: 12px;
				line-height:20px;
				color:#d3d3d3;
			}
			h4,h3 {
					
			}
			ul {
				display:flex;
				flex-direction:column;
				flex-wrap:wrap;
				padding: 30px 30px 20px 20px;
				li {
					font-size:12px;
					color:#d3d3d3;
					width: 60px;
					line-height: 20px;
				}
			}
			button {
				width:150px;
				height:50px;
				background: turquoise;
				color:white;
				padding:5px;
				font-size: 12px;
				text-align: center;
				border-radius:5px;
				border:none;
				display:flex;
				

				img {
					margin-left:10px;
				}
			}

		}
		.popInfo2 {
			order:-1;
			text-align:right;
			background: url('../assets/francemap.jpg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			p{
				text-align:right;
			}
			ul {
				align-items:flex-end;
				padding-right:0;
			}
			button {
				width:150px;
				height:50px;
				margin:0 0 0 72.7%;
				

				}
		}
		
	
	}

	.popwrap2 {
			margin-top:70px;
		}

	.popCountryTile1 {
	background: url('../assets/italy-small.jpg');
	}	
	.popCountryTile2 {
	background: url('../assets/italy-small4.jpg');
	}
	.popCountryTile3 {
	background: url('../assets/italy-small2.jpg');
	}
	.popCountryTile4 {
	background: url('../assets/italy-small3.jpg');
	}

	.popCountryTile5 {
		background: url('../assets/francesmall1.jpg');
	}
	.popCountryTile6 {
		background: url('../assets/francesmall2.jpg');
	}
	.popCountryTile7 {
		background: url('../assets/francesmall3.jpg');
	}
	.popCountryTile8 {
		background: url('../assets/francesmall4.jpg');

	}
}

.preFooter {
	// height:250px;
	background: #222222;
	color:white;
}


.preFooterWrapper {
	display:flex;
	flex-wrap:wrap;
	max-width: 1000px;
	margin: auto;
	padding:50px 0;
	h5 {
		font-size: 11px;
	}
	.footerLogo {
		width:300px;
	}
	.footerTours {
		width:133px;
		ul {
			height:150px;
			display:flex;
			flex-direction:column;
			flex-wrap:wrap;
			li {
				line-height:30px;
				list-style:none;
				font-size: 10px;
				color:#d3d3d3;
				a {
					color:#d3d3d3;
					text-decoration: none;
					&:hover {
						color:turquoise;
					}
				}
			}
		}
	}
	.footerCountries {
		width:133px;
		

		ul {
			height:150px;
			display:flex;
			flex-direction:column;
			flex-wrap:wrap;
			li {
				line-height:30px;
				list-style:none;
				font-size: 10px;
				color:#d3d3d3;
				a {
					text-decoration:none;
					color:#d3d3d3;
					&:hover {
						color:turquoise;
					}
				}
			}
		}
	}
	.followUs {
		width:133px;
		h5 {
			padding-bottom:15px;
		}
		.socialMedia {
			height:25px;
			width:100px;
			background: blue;
			border-radius: 5px;
			margin: 5px 0;
			.fa{
					float:left;
					padding:6px;
					font-size: 13px;
				}
				p {
					font-size: 10px;
					float:left;
					color:#d3d3d3;
					padding: 7px 7px 7px 0;
				}
			.whiteBox {
				height: 25px;
				width: 25px;
				background: white;
				border-radius: 5px;
				float:right;
				// position:relative;
				// right: -75px;
				p {
					padding-left: 7px;
					color:black;
				}
			}
			.facebook {
				border-radius: 5px;
				height: 100%;
				background: rgb(59, 89, 152);
				
			}
			.twitter {
				background: rgb(0, 171, 241);
				border-radius: 5px;
				height: 100%;
			}
			.google {
				background: rgb(208, 66, 42);
				border-radius: 5px;
				height: 100%;
			}
			.pinterest {
				border-radius: 5px;
				background: rgb(204, 33, 39);
				height: 100%;
			}
		}
	}
	.subscribe {
		width:300px;
		h5 {
			text-align: center;
			
		}
		input {
			width: 220px;
			margin: 10px auto;
		    display: block;
		    background: none;
			border: 1px solid grey;
			border-radius:5px;
			// border-bottom: 1px solid grey;
			font-size: 10px;
			padding: 15px;

		}
		button {
			width:220px;
			height:40px;
			background: turquoise;
			text-align: center;
			color:white;
			padding:5px 5px 5px 90px;
			font-size: 12px;
			text-align: center;
			border-radius:5px;
			border:none;
			margin: 0 auto;
			display:flex;
			&:hover {
				border:1px solid turquoise;
				background:none;
			}

		}	

	}
}

footer {
	background: #141414;
	.footerWrapper {
		height:50px;
		display:flex;
		flex-wrap: wrap;
		justify-content:space-around;
		align-items:center;

		ul {
			display:flex;
			list-style:none;

			li {
				font-size: 12px;
				margin: 0 10px;
				color:white;
				a {
					text-decoration:none;
					color:#d3d3d3;
					&:hover {
						color:turquoise;
					}
				}
			}
		}
		p{
			font-size:10px;
			color:#d3d3d3;
		}
	}
}

button:hover {
	border:1px solid turquoise;
	background:none;
}

///////////////////////// weather 

#weather {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }



/////////////////////////////////////media queries below!

@media (max-width: 1276px) {
	
	.popular {
		height:800px;
	}
	.popular .popularWrapper .popularCountries{
		margin:auto;
	}

	.popular .popwrap2 {
		display:none;

	}
	.popInfo1 {
		margin: auto;
		text-align: center;
	}
	.popInfo1 h4, .popInfo1 ul, .popInfo1 li {
			display:none;
		}
	.popular .popularWrapper .popInfo1 p {
		padding-bottom:0;
		text-align: center;
		
	}
	.popInfo1 button{
		margin:0 auto;
		// &:hover {
		// 	border:1px solid turquoise;
		// 	background:none;
		// 	color:black;
		// }

	}
}

/* Portrait tablet and small desktops */
@media (max-width: 975px) { 		
	.seaTours .toursWrapper {
		justify-content:center;     //940px
		.tour5, .tour6 {
			display:none;
		}
	}
	.specialTour3 {
		display:none;
	}

	.banner {
		display:none;
	}

// 	.popular {
// 		height:800px;
// 	}
// 	.popular .popularWrapper .popularCountries{
// 		margin:auto;
// 	}
// 	.popular .popwrap2 {
// 		display:none;

// 	}
// 	.popInfo1 {
// 		margin: auto;
// 		text-align: center;
// 	}
// 	.popInfo1 h4, .popInfo1 ul, .popInfo1 li {
// 			display:none;
// 		}
// 	.popular .popularWrapper .popInfo1 p {
// 		padding-bottom:0;
// 		text-align: center;
		
// 	}
// 	.popInfo1 button{
// 		margin:0 auto;
// 	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {


}

/* Landscape phones and down */
@media (max-width: 480px) {

	header .titleWrapper, header .headerSearch {
		display:none;
	}

	.radioButtonWrapper {
		
		flex-wrap: wrap;
    	justify-content: center;
	}

	.seaTours {
		height:1310px;
	}
	.popular {
		height:600px;
	}
	.specialOffers .specialWrapper .specialTour2,
	 .specialOffers .specialWrapper .specialTour2, {
		display:none;
	}

	.popular .popCountryTile4, .popular .popCountryTile3  {
		display:none;
	}

	.popular .popularWrapper .popularCountries,.popular .popularWrapper .popInfo1{
		min-width: 0;
		button {
		    width: 150px;
   			height: 50px
   			&:hover {
   				border:1px solid turquoise;
   				background:none;
   			}

		}
	}
	.preFooterWrapper {
	    text-align: center;
    	justify-content: center;
	}

	.preFooterWrapper .followUs h5 {
		padding-top:10px;
	}

	.preFooterWrapper .followUs .socialMedia {
		margin:5px auto;
	}
	.preFooterWrapper .subscribe {
		padding-top:10px;
	}

	footer .footerWrapper ul li {
		margin:0 5px;
	}

}











